[package]
name = "zinzen"
version = "0.1.0"
edition = "2021"
license = "AGPL-3.0"
keywords = ["zinzen", "scheduler", "todo"]
description = "Algorithm for auto-scheduling time-constrained tasks on a timeline"
homepage = "https://github.com/tijlleenders/ZinZen-scheduler/wiki"
repository = "https://github.com/tijlleenders/ZinZen-scheduler"
readme = "README.md"
categories = ["algorithms", "date-and-time", "wasm"]
default-run = "main"

[lib]
#see https://github.com/rust-lang/cargo/issues/6659#issuecomment-463335095
crate-type = ['cdylib','lib']
name = 'scheduler'

[profile.release]
lto = true
# Tell `rustc` to optimize for small code size.
opt-level = "s"


[dependencies]
serde_json = "1.0.81"
serde = { version = "1.0.137", features = ["derive"] }
chrono = { version = "0.4.19", features = ["wasmbind", "serde"] }

# simple WASM codegen
wasm-bindgen = { version = "0.2.81", features = ["serde-serialize"] }

# display Rust panics as console.error()
console_error_panic_hook = "0.1.7"

[dev-dependencies]
pretty_assertions = "1.3.0"
